doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Clean Form
		link(rel="stylesheet", href="css/main.css")
	body
		.form-wrapper
			.icon-box

			.form-box
				h4.form-title Clean Form
				form.form(id="send-form")
					//- Hidden fields
					//- Admin name
					input.form-name(type="hidden" name="project_name" value="Your Name")
					//- Admin e-mail
					input(type="hidden" name="admin_email" value="crealime@mail.ru")
					//- E-mail Subject
					input(type="hidden" name="form_subject" value="New Message")
					//- Submission message
					input(type="hidden" name="alert_message" value="Your message has been sent!")
					//- Сaptcha Error 
					input(type="hidden" name="wrong_sum" value="Sum of the numbers entered incorrectly!")
					//- End of hidden fields
					i.fa.fa-user(aria-hidden="true")
					input(type="text" name="Name" placeholder="Name" required maxlength="30")
					i.fa.fa-envelope(aria-hidden="true")
					input(type="email" name="Mail" placeholder="E-mail" maxlength="30")
					i.fa.fa-phone(aria-hidden="true")
					input(type="tel" name="Phone" placeholder="Phone" required maxlength="30")
					i.fa.fa-caret-down(aria-hidden="true")
					select(name="Select")
						<option value="" selected class="first-select">Сhoice</option>
						<option value="First">First</option>
						<option value="Second">Second</option>
						<option value="Third">Third</option>
					i.fa.fa-comment(aria-hidden="true")
					textarea(id="message" name="Сообщение" placeholder="Message" maxlength="1000")
					//- Captcha
					i.fa.fa-check(aria-hidden="true")
					span.send-sum
					input.input-sum(type="text" name="sum" placeholder="?" required maxlength="2")
					button.form-button Send

		script(src="js/libs.min.js")
		script(src="js/main.js")