doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Clean Form
		link(rel="stylesheet", href="css/main.css")
	body
		.form-wrapper

			.form-box
				h4.form-title Clean Form
				.sending.opa Your message has been sent!
				form.form(id="send-form" method="post")
					//- Hidden settings fields
					//- Admin name
					input.form-name(type="hidden" name="project_name" value="Your Name")
					//- Admin e-mail
					input(type="hidden" name="admin_email" value="Your E-mail")
					//- E-mail Subject
					input(type="hidden" name="form_subject" value="New Message")
					//- End of hidden settings fields
					i.fa.fa-user(aria-hidden="true")
					input(type="text" name="Name" placeholder="Name" maxlength="30")
					i.fa.fa-envelope(aria-hidden="true")
					input(type="email" name="Mail" placeholder="E-mail" maxlength="30")
					i.fa.fa-phone(aria-hidden="true")
					input(type="tel" name="Phone" placeholder="Phone" maxlength="30")
					i.fa.fa-caret-down(aria-hidden="true")
					select(name="Select")
						<option value="" selected class="first-select">Сhoice</option>
						<option value="First">First</option>
						<option value="Second">Second</option>
						<option value="Third">Third</option>
					i.fa.fa-comment(aria-hidden="true")
					textarea(id="message" name="Message" placeholder="Message" maxlength="1000")
					//- Captcha
					i.fa.fa-check(aria-hidden="true")
					span.send-sum
					input.input-sum(type="text" name="sum" placeholder="?" maxlength="2")
					button.form-button Send


		script(src="js/libs.min.js")
		script(src="js/main.js")